.calendar {
  width: 85%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  background: #3f414d;
}

.calendar__prompts {
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar__prompts h1 {
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__inf {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.calendar__days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;
  justify-content: center;
}

.calendar .current-month {
  width: 13%;
  height: 80px;
  background: #737b95;
  border-radius: 10px;
  padding: 10px;
}

.current-month:hover {
  transform: scale(1.5);
  transition: all 0.5s ease-in-out;
  background: #353847;
  box-shadow: 0 0 20px 5px #323544;
  cursor: pointer;
}

.other-month {
  width: 13%;
  height: 80px;
  border-radius: 10px;
  padding: 10px;
  background: #35373f;
}

.calendar__inf--buttons {
  display: flex;
  gap: 10px;
}

.calendar__inf--buttons button {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.calendar__inf--buttons button img {
  width: 30px;
  height: 30px;
}

#current-day {
  background: rgb(125, 182, 153);
}
